*
{
  padding:0;
  margin:0;
  border:0;
}

body
{
  background-color: #aaaaaa;
  color: #000000;
  text-align: center;
}

#header
{
  text-align:center;
  margin: 2em;
}

#navigation
{
  font-size: 18px;
  margin: 0.5em;
}

#content p
{
  font-size:14px;
  text-align:center;
}

a:link
{
  text-decoration: none;
  color: #000000;
}

a:visited
{
  text-decoration: none;
  color: #000000;
}

a:active
{
  text-decoration: none;
  color: #000000;
}

a:hover
{
  text-decoration: none;
  color: #ffffff;
}

li
{
  list-style-type:none;
}