*
{
  padding:0;
  margin:0;
  border:0;
}

body
{
  background-image: url("/site_media/images/paper_background.jpg");
  color: #222222;
  text-align: center;
  font-family: helvetica, Arial;
}

#header h1
{
  margin-left: -100000px;
  float: left;
}

h3
{
  font-size:1.2em;
}

#masthead
{
  padding-top: 0.5em;
  height: 245px;
}

#navigation a
{
  font-size: 1.4em;
  margin-left: 1em;
  margin-right: 1em;
}

#content, #navigation, #footer_text
{
  padding-top: 1em;
  background-color: #8C82C3;
  border-right: 4px solid #222222;
  border-left: 4px solid #222222;
}

#footer_text
{
  border-bottom: 4px solid #222222;
  margin-bottom: 3em;
}

a:link
{
  text-decoration: none;
  color: #000055;
}

a:visited
{
  text-decoration: none;
  color: #000088;
}

a:active
{
  text-decoration: none;
  color: #000055;
}

a:hover
{
  text-decoration: none;
  color: #ffffff;
}

.product_listing {
  font-size: 14px;
}

.product_listing img, .product_detail 
{
  outline: 2px solid #222222;
}

td
{
  width:300px;
}

li
{
  list-style-type:none;
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 1em;
}

#first_page, #previous_page, #next_page, #last_page
{
  font-size: 20px;
}

#privacy_policy p
{
  font-size: 14px;
}

#footer_text p
{
  margin-bottom:0px;
  font-size: 13px;
}

