{% extends "base.html" %}

{% block content %}
<div class="grid_6 prefix_3">
  <p>F.O. Apparel is what happens when you combine a childhood of drawing and a Bachelor's degree in Biology with a love for clothing.  Also a sick sense of humor and absolutely no internal filter.</p>
  <p>The name F.O. Apparel is named after the first designs I made.  If your parents ask what it stands for, make something up.  Especially if you're one of my siblings.  If you make up something funny, email it to me.  I'm going to start a list.</p>
  <p>Orders are handled securely through PayPal, which accepts both PayPal payments and credit cards. <a href="/paypal_help/">Click Here For PayPal Ordering Help</a>.  Your personal information will not be used for any purpose other than shipping your order to you.  <a href="/privacy_policy/">Click Here For Our Privacy Policy</a>.</p>
  <p>Feel free to direct comments, questions, suggestions, and any other kibitzing to <a href="mailto:laura@foapparel.com">laura@foapparel.com</a>.</p>
</div>
{% endblock %}
