{% extends "base.html" %}

{% block content %}
<div class="grid_6 prefix_3">
  <p>F.O. Apparel was founded in 2008 by two people in California and their friends.  With a mix of geekiness and a sense of humor, we decided what shirts we would want to wear, and then we made them.  Enjoy!</p>
  <p>Orders are handled securely through PayPal, which accepts both PayPal payments and credit cards. <a href="/paypal_help/">Click Here For PayPal Ordering Help</a>.  Your personal information will not be used for any purpose other than shipping your order to you.  <a href="/privacy_policy/">Click Here For Our Privacy Policy</a>.</p>
  <p>Feel free to direct comments, questions, suggestions, and any other kibitzing to <a href="mailto:laura@foapparel.com">laura@foapparel.com</a>.</p>
</div>
<div class="clear">&nbsp;</div>
{% endblock %}
