{% extends "base.html" %}

{% block content %}
<div class="grid_6 prefix_3">
  <p>F.O. Apparel is what happens when you combine a childhood of drawing and a Bachelor's degree in Biology with a love for clothing.  Also a sick sense of humor and absolutely no desire to have a real job.</p>
  <p>The name F.O. Apparel is named after the first designs I made.  If your parents ask what it stands for, make something up.  Especially if you're one of my siblings.</p>
  <p>Feel free to direct comments, questions, suggestions, and any other kibitzing to <a href="mailto:laura@emlprime.com">laura@emlprime.com</a>.</p>
</div>
{% endblock %}
