<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>F.O. Apparel</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="icon" type="image/gif" href="/site_media/images/favicon.gif" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/site.css" />
    <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/site_media/scripts/site.js"></script>
  </head>
  <body>
    <div class="container_12">
      <div id="header"><h1>F.O. Apparel</h1></div>
      <div class="grid_2 alpha" id="navigation">
	<p><a href="/">Home</a></p>
	<p><a href="/products/">Products</a></p>
	<p><a href="/about/">About</a></p>
      </div>
      <div class="grid_9 alpha"><a href="/"><img src="/site_media/images/fo_logo.jpg" alt="F.O. Apparel" /></a></div>
      <div class="clear">&nbsp;</div>
      <div id="content" class="grid_12">
	{% block content %} BLOCK CONTENT {% endblock %}
      </div>
      <div class="clear">&nbsp;</div>
      <div id="footer">
	<div class="grid_2 alpha"><a href="http://www.emlprime.com" target="_blank"><img src="/site_media/images/made_by_eml.png" alt="Website Design and Hosting by EMLPrime" /></a></div>
      </div>
    </div>
  </body>
</html>
