<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>F.O. Apparel</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="google-site-verification" content="c-5Fa0kqeiaZn1ANz-pi-jS76jSfiKlX7zni8dEUKzg" />
    <meta name="y_key" content="534c0433a4b4fcbc" />
    <meta name="google-site-verification" content="c-5Fa0kqeiaZn1ANz-pi-jS76jSfiKlX7zni8dEUKzg" />
    <meta name="description" content="T-shirts and clothing for the geeky, sexy, and absurd.  Anatomy, double entendre, and over-the-top statements are featured in our off-beat clothing line." />
    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="icon" type="image/png" href="/site_media/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/site.css" />
    <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  </head>
  <body>

    <div class="container_12">

      <div id="header"><h1>F.O. Apparel</h1></div>

      <div class="grid_12" id="masthead"><a href="/"><img src="/site_media/images/masthead.png" alt="F.O. Apparel: Geeky and Cheeky Tees" /></a></div>

      <div class="grid_12" id="page_area" >
	<div id="navigation">
	  <a href="/">Home</a>
	  <a href="/products/">Products</a>
	  <a href="/about/">About Us</a>
	  <a href="/coming_soon/">Coming Soon</a>
	</div>

	<div id="content">
	  {% block content %} BLOCK CONTENT {% endblock %}
	</div>

	<div id="footer_text">
	  <p>Copyright &copy; 2008-2010 F.O. Apparel - All Rights Reserved.</p>
	  <p><a href="/privacy_policy/">Privacy Policy</a>     ---     <a href="/paypal_help/">Ordering Help</a></p>
	</div>
      </div>
    </div>


    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-88241-9");
      pageTracker._trackPageview();
      } catch(err) {}</script>

  </body>
</html>
