{% extends "base.html" %}

{% block content %}
<div class="grid_6 prefix_3">These designs will be available for your wearing enjoyment in the near future.</div>
<div class="grid_12">

<ul>
  <li class="product_listing grid_3 alpha omega" >
      <img src="/site_media/images/ink_means_no_sm.png" alt="Ink Means No Tee" />
      <p>Ink Means No Tee</p>
  </li>
</ul>
</div>

<div class="grid_6 prefix_3">
<p>Really excited about any of these designs?  Send an email to <a href="mailto:info@foapparel.com">info@foapparel.com</a> with the name of the design to receive email notification when the design is available for order.</p>
</div>

<div class="clear">&nbsp;</div>

{% endblock %}
