{% extends "base.html" %}

{% block content %}

<p class="grid_6 prefix_3">Here are some designs that will be available for your wearing enjoyment in the near future.<p>
<div class="clear">&nbsp;</div>
<ul>
  <li class="product_listing grid_3 alpha omega" >
      <img src="/site_media/images/ink_means_no_sm.png" alt="Ink Means No Tee" />
      <p>Ink Means No Tee</p>
  </li>

<div class="clear">&nbsp;</div>

<p class="grid_6 prefix_3">Really excited about any of these designs?  Send an email to <a href="mailto:info@foapparel.com">info@foapparel.com</a> with the name of the design to receive email notification when the design is available for order.</p>
{% endblock %}
