{% extends "base.html" %}

{% block content %}
<div class="grid_6 prefix_3">
<p>You live for nature specials, and the discovery channel is on your favorites list.  You can name all your major muscles.  You may even list the bones of the body instead of counting sheep when you're falling asleep at night.  These shirts are geeky like you.</p>
</div>

<div class="grid_12">
<ul id="products">
  {% for product in object_list %}
  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/{{ product.slug }}/">
      {{ product.title }}
      {% if product.image_1 %}
      <img src="/site_media/{{ product.image_1}}" alt="{{ product.title }}" />
      {% endif %} 
    </a>
  </li>
  {% endfor %}
  
</ul>
</div>

<div class="clear">&nbsp;</div>

{% endblock %}
