{% extends "base.html" %}

{% block content %}
<div class="grid_12">
<div class="grid_12 alpha omega">
<h3>Geeky Shirts</h3>
<ul>
  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/muscular_system_tee/">
      <img src="/site_media/images/muscular_system_tee_front.JPG" alt="Muscular System Tee" />
      <p>Muscular System Tee</p>
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/skeletal_system_tee/">
      <img src="/site_media/images/skeletal_system_tee_front_sm.JPG" alt="Skeletal System Tee" />
      <p>Skeletal System Tee</p>
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/nervous_system_tee/">
      <img src="/site_media/images/nervous_system_tee_front_sm.JPG" alt="Nervous System Tee" />
      <p>Nervous System Tee</p>
    </a>
  </li>

</ul>

<a class="section_link" href="/products/geeky/"><p>See more geeky shirts</p></a>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_12 alpha omega">

<h3>Cheeky Shirts</h3>
<ul>
  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/rocket_ride_tee/">
      <img src="/site_media/images/rocket_ride_front_sm.JPG" alt="Rocket Ride Tee" />
      <p>Rocket Ride Tee</p>
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/nice_jugs_tee/">
      <img src="/site_media/images/nice_jugs_tee_sm.JPG" alt="Nice Jugs Tee" />
      <p>Nice Jugs Tee</p>
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/eat_more_bananas_tee/">
      <img src="/site_media/images/eat_me_tee_sm.JPG" alt="Eat More Bananas Tee" />
     <p>Eat More Bananas Tee</p>
    </a>
  </li>
</ul>

<a href="/products/cheeky/" class="section_link"><p>See more cheeky shirts</p></a>
</div>
</div>
<div class="clear">&nbsp;</div>
{% endblock %}
