{% extends "base.html" %}

{% block content %}
<div class="grid_12">
<div class="grid_12">
<div class="grid_8 prefix_2">
<h2>Are you cheeky or geeky?</h2>
<p>Do you live for nature specials or loud parties with friends?  Do you laugh when you hear cheesy science jokes, or every time you see someone eating a banana?  Whichever you are - or whether you're a little bit of both - there is a t-shirt here for you.</p>
</div>
<div class="grid_8 prefix_2">
<h3>Geeky Shirts</h3>
<p>Enjoy an anatomically correct tee of the skeleton, musculature, or nervous system.  Or check out the new geeky tees that are <a href="/coming_soon">coming soon</a>.</p>
</div>
<div class="grid_12">
<ul>
  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/muscular_system_tee/">
      <img src="/site_media/images/muscular_system_tee_front.JPG" alt="Muscular System Tee" />
      Muscular System Tee
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/skeletal_system_tee/">
      <img src="/site_media/images/skeletal_system_tee_front_sm.JPG" alt="Skeletal System Tee" />
      Skeletal System Tee
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/nervous_system_tee/">
      <img src="/site_media/images/nervous_system_tee_front_sm.JPG" alt="Nervous System Tee" />
      Nervous System Tee
    </a>
  </li>

</ul>

<p><a class="section_link" href="/products/geeky/">See more geeky shirts</a></p>
</div>
</div>

<div class="grid_12">

<h3>Cheeky Shirts</h3>
<p>Make your friends smile with these cheeky shirts.</p>
<ul>
  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/rocket_ride_tee/">
      <img src="/site_media/images/rocket_ride_front_sm.JPG" alt="Rocket Ride Tee" />
      Rocket Ride Tee
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/nice_jugs_tee/">
      <img src="/site_media/images/nice_jugs_tee_sm.JPG" alt="Nice Jugs Tee" />
      Nice Jugs Tee
    </a>
  </li>

  <li class="product_listing grid_3 alpha omega" >
    <a href="/products/eat_more_bananas_tee/">
      <img src="/site_media/images/eat_me_tee_sm.JPG" alt="Eat More Bananas Tee" />
     Eat More Bananas Tee
    </a>
  </li>
</ul>

<p><a href="/products/cheeky/" class="section_link">See more cheeky shirts</a></p>
</div>
</div>
<div class="clear">&nbsp;</div>
{% endblock %}
