{% extends "base.html" %}

{% block content %}
<div class="grid_4 alpha">
<a href="/products/muscular_system_tee/"><img src="/site_media/images/fo_md_muscles_front_black.png" alt="Muscular System Tee" /></a>
<a href="/products/nice_jugs_tee/"><img src="/site_media/images/fo_md_nice_jugs.png" alt="Nice Jugs Tee" /></a>
</div>
<div class="grid_4">
<p>F.O. Apparel is an attempt to display the sillyness, beauty, and underlying contradictions of everyday life.  The anatomy line artfully displays the hidden elegance of the human body.  The F.O. signature line says the things you want to say, but probably won't.  And the double entendre line shows an almost naive and innocent take on the awkward parts of social interactions.</p>
<p>Go to the <a href="/products/">products page</a> to browse all designs.</p>
<p>Check back soon for more designs.</p>
</div>
<div class="grid_4 omega">
<a href="/products/f_ck_off_tee/"><img src="/site_media/images/fo_md_fuck_off.png" alt="Fuck Off Tee" /></a>
<a href="/products/bad_luck_banana_tee/"><img src="/site_media/images/fo_md_bad_luck_banana.png" alt="Bad Luck Banana Tee" /></a>
</div>
<div class="clear">&nbsp;</div>
<p>Copyright &copy; 2009 Laura Madsen - All Rights Reserved.</p>

{% endblock %}
