{% extends "base.html" %}

{% block content %}

<p>Here's how to use the PayPal ordering system.</p>

<p>When you add an item to your cart, a new browser tab will open to this page:</p>

<img src="/site_media/images/help_image_1.jpg" alt="Shopping using paypal checkout" />

<p>Any additional items that you add to your cart will also show up on this page.  Click "Proceed to Checkout" to go to this page:</p>

<img src="/site_media/images/help_image_2.jpg" alt="Shopping using paypal checkout" />

<p>Clicking "Continue" on the bottom left will lead you through the credit card payment form.   If you already have a PayPal account, then you can also log in and use your account for payment.</p>


{% endblock %}
