{% extends "base.html" %}

{% block content %}

<div id="privacy_policy">

<p>F.O. Apparel does not directly take billing or shipping information from our customers.  All your billing and credit card information is securely processed by PayPal.  For information on the security and privacy of the billing process, please visit PayPal's privacy policy by <a href="https://cms.paypal.com/cgi-bin/marketingweb?cmd=_render-content&content_ID=ua/Privacy_full&locale.x=en_US" target="_BLANK">clicking here</a>.</p>

<p>Shipping information is used by F.O. Apparel strictly for the shipping of our goods to you.  Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product.</p>

<p>If there are any changes to this privacy policy, they will be posted here.  If you have any questions, please contact F.O. Apparel at <a href="mailto:info@foapparel.com">info@foapparel.com</a></p>

</div>

{% endblock %}
