{% extends "base.html" %}

{% block content %}

<div id="product_detail">
  <div id="first_page" class="grid_2 alpha">
    <a href="/products/{{ object.slug }}/first/">|&lt;</a>
  </div>
  <div id="previous_page" class="grid_2">
    <a href="/products/{{ object.slug }}/previous/">&lt;</a>
  </div>

  <h2 class="grid_4">{{ object.title }}</h2>

  <div id="next_page" class="grid_2">
    <a href="/products/{{ object.slug }}/next/">&gt;</a>
  </div>
  <div id="last_page" class="grid_2 omega">
    <a href="/products/{{ object.slug }}/last/">&gt;|</a>
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_4 alpha">
    <img src="/site_media/{{ object.image_1 }}" alt="{{ object.title }}" />
    {% if object.image_3 %}<img src="/site_media/{{ object.image_3 }}" alt="{{ object.title }}" />{% endif %}
  </div>
  <div class="grid_4">
    <p>{{ object.description }}</p>
    <p>${{ object.price }} USD</p>
  </div>
  <div class="grid_4 omega">
    {% if object.image_2 %}<img src="/site_media/{{ object.image_2 }}" alt="{{ object.title }}" />{% endif %}
    {% if object.image_4 %}<img src="/site_media/{{ object.image_4 }}" alt="{{ object.title }}" />{% endif %}
  </div>
</div>
<div class="clear">&nbsp;</div>
<p>Copyright &copy; 2009 Laura Madsen - All Rights Reserved.</p>


{% endblock %}
