{% extends "base.html" %}

{% block content %}
<p>Browse all current items here. Click on any design to view it in more detail and to order.</p>

<ul>
{% for product in object_list %}
<div class="grid_4 alpha omega" >
  <li class="product_listing" >
    <a href="/products/{{ product.slug }}/">
      <h4>{{ product.title }}</h4>
      {% if product.image_1 %}
      <img src="/site_media/{{ product.image_1}}" alt="{{ product.title }}" />
      {% endif %} 
    </a>
  </li>
</div>
{% endfor %}

</ul>

{% endblock %}
